html, body {
  height: 100%;
  background-color: #fff;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

h1 {
  font-size: 32px;
  -webkit-text-stroke: 1px red;
  color: white;
  text-shadow:
    3px 3px 0 red,
    -1px -1px 0 red,
    1px -1px 0 red,
    -1px 1px 0 red,
    1px 1px 0 red;
}

p {
  width: 400px;
}

.box {
  border: 1px solid gray;

  margin: 15px;
  padding: 15px;
}
